    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">        
        <a class="navbar-brand" href="#">
            <img 
                src="https://www.google.com/logos/2020/kitsune/rc7/CTA-Opening-144867217-174787752-174787825-192413481.png" 
                alt=""
                height = 30/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a mat-button class="nav-link" routerLink="dashboards" routerLinkActive="active">
                    Dashboards  
                    </a>
                </li> 
                <li class="nav-item">   
                    <a mat-button class="nav-link" routerLink="students" routerLinkActive="active">
                    Students  
                    </a>
                </li>
            </ul> 
        </div>
    </nav>
